/********************************** 
* Design by:  [Joshua Simoneau]
* Design name:  [The Future of Design...]
* 
* License: [All Rights Reserved]
* 
* Acknowledgments/Sources:
*/

/* Protest-revolution from Google Fonts */
@font-face {
  font-family:protest;
  src: url(ProtestRevolution-Regular.ttf);
}

.iacs::before {
  content: "Join the Following...";
  font-family:protest;
} 
h1 {
  font-family: protest;
  color: rgba(194, 16, 16, 1);
}
h2 {
  font-family: protest;
  color: rgba(194, 16, 16, 1);
}
h3 {
  font-family: protest;
  color: rgba(194, 16, 16, 1);
}
h4 {
  font-family: protest;
  color: rgba(194, 16, 16, 1);
}
p {
  font-family: protest;
  color: rgba(194, 16, 16, 1);
}
li {
  font-family: protest;
  color: rgba(194, 16, 16, 1);
}
abbr{
  color: white;
}
a {
  color: rgba(53, 36, 51, 1);
}


/* Background */
#css-zen-garden {
  background: rgba(0, 0, 0, 1);
}
/* Page wrapper */
.page-wrapper {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 1);
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  margin: 0 auto;
}
