/********************************** 
* Design by:  [Joshua Simoneau]
* Design name:  [The Future of Design...]
* 
* License: [All Rights Reserved]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

/* Starter code -- feel free to delete */

/* Typography */

/* Protest-revolution from Google Fonts */
@font-face {
  font-family:protest;
  src: url(ProtestRevolution-Regular.ttf);
}

.iacs::before {
  content: "Join the Following...";
  font-family:protest;
} 
h1,
h2,
h3,
h4,
h5,


/* Background */
#css-zen-garden {
  background: linear-gradient(45deg, #f3f3f3 0%, #c8c8c8 100%);
}
/* Page wrapper */
.page-wrapper {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  margin: 0 auto;
}
